<main class="home-main">
  <article class="text-light article-1" id="About">
    <div class="text-center">
      <img src="/assets/images/Ben.webp" alt="I am" class="img-thumbnail image rounded-circle">
    </div>
    <div class="container-fluid">
      <div class="col col-lg-8 mx-auto text-center">
        <h1>Eyüp Sercan UYGUR</h1>
        <h3>Software Developer</h3>
        <p class="content">
          Hi! I am a material scientist and also a software developer.
          Residing in between Istanbul and Kuşadası in Turkey.<br> I love traveling, music,
          especially rock music <span style='font-size:30px;'>&#127928;</span> and poetry. I can help you build a product, feature or website.
        </p>
      </div>
    </div>
  </article>
  <hr>
  <article class="text-light article-2">
    <div class="container-fluid container-lg mx-auto text-center">
      <div class="row text-center mx-auto">
        <div class="col col-lg-4 text-center">
          <h5>Languages</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/4872473806" rel="noreferrer" target="blank" class="text-light disabled">JavaScript</a></li>
            <li><a href="https://www.credential.net/fd59c9a6-a0b0-4f1b-a001-735c9fbadea8#gs.eem28t" rel="noreferrer"  target="blank" class="text-light disabled">Ruby</a></li>
            <li><a href="https://openclassrooms.com/en/course-certificates/1201771651" target="blank" rel="noreferrer"   class="text-light disabled">HTML</a></li>
            <li><a href="https://openclassrooms.com/en/course-certificates/8063084933" target="blank" rel="noreferrer"  class="text-light disabled">CSS, SCSS</a></li>
            <li><a href="#" class="text-light disabled">Matlab</a></li>
          </ul>
        </div>
        <div class="col col-lg-4 text-center">
          <h5>Frameworks</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/2235830313" target="blank" rel="noreferrer"  class="text-light disabled">React & Redux & Jquery</a></li>
            <li><a href="#" target="blank" class="text-light disabled">Rails</a></li>
            <li><a href="#" target="blank" class="text-light disabled">RSpec</a></li>
          </ul>
        </div>
        <div class="col col-lg-4 text-center">
          <h5>Skills</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/9155802531" target="blank" rel="noreferrer"  class="text-light disabled">Bootstrap</a></li>
            <li><a href="#" class="text-light disabled">Git & GitHub</a></li>
            <li><a href="#" class="text-light disabled">Remote Pair Programming</a></li>
            <li><a href="#" class="text-light disabled">Finite Element Analysis</a></li>
            <li><a href="#" class="text-light disabled">Statistics</a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <hr>
  <article class="d-flex justify-content-around text-light article-x">
    <div>
      <ul class="list-unstyled d-flex">
        <li><a href="https://github.com/eypsrcnuygr" target="_blank" rel="noreferrer"  class="text-light disabled-2"><i class="fab fa-github mx-2"></i></a></li>
        <li><a href="https://medium.com/@sercanuygur" target="_blank" rel="noreferrer"  class="text-light disabled-2"><i class="fab fa-medium-m mx-2"></i></a></li>
        <li><a href="https://twitter.com/eypsrcnuygr" target="_blank" rel="noreferrer"  class="text-light disabled-2"><i class="fab fa-twitter mx-2"></i></a></li>
        <li><a href="https://www.linkedin.com/in/eypsrcnuygr/" target="_blank"  rel="noreferrer"  class="text-light disabled-2"><i class="fab fa-linkedin-in mx-2"></i></a></li>
      </ul>
    </div>
  </article>
</main>