<main class="home-main position-relative">
 <article class="text-light article-1">
   <div class="container-fluid">
     <div class="col col-lg-4 mx-auto text-center">
      <h1>Eyüp Sercan UYGUR</h1>
      <h3>Software Developer</h3>
      <p>
        Hi! I am a material scientist and also a software developer.
        Residing in between İstanbul and Kuşadası.
        I can help you build a product, feature or website.
      </p>
     </div>
   </div>
 </article>
<hr>
 <article class="text-light article-2">
  <div class="container-fluid container-lg mx-auto text-center">
    <div class="row text-center mx-auto">
      <div class="col col-lg-4 text-center">
        <h5>Languages</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light disabled">JavaScript</a></li>
          <li><a href="#" class="text-light disabled">Ruby</a></li>
          <li><a href="#" class="text-light disabled">HTML</a></li>
          <li><a href="#" class="text-light disabled">CSS, SCSS</a></li>
          <li><a href="#" class="text-light disabled">Matlab</a></li>
        </ul>
      </div>
      <div class="col col-lg-4 text-center">
        <h5>Frameworks</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light disabled">React & Redux & Jquery</a></li>
          <li><a href="#" class="text-light disabled">Rails</a></li>
          <li><a href="#" class="text-light disabled">RSpec</a></li>
        </ul>
      </div>
      <div class="col col-lg-4 text-center">
        <h5>Skills</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light disabled">Bootstrap</a></li>
          <li><a href="#" class="text-light disabled">Git & GitHub</a></li>
          <li><a href="#" class="text-light disabled">Remote Pair Programming</a></li>
          <li><a href="#" class="text-light disabled">Finite Element Analysis</a></li>
          <li><a href="#" class="text-light disabled">Statistics</a></li>
        </ul>
      </div>
    </div>
  </div>
</article>
<hr>
<article class="d-flex justify-content-around text-light article-3">
  <div>
    <p>Work <a href=""><i class="fas fa-angle-double-down text-light ml-1"></i></a></p>
  </div>
    
  <div>
    <ul class="list-unstyled d-flex">
      <li><a href="" class="text-light disabled"><i class="fab fa-github mx-2"></i></a></li>
      <li><a href="" class="text-light disabled"><i class="fab fa-medium-m mx-2"></i></a></li>
      <li><a href="" class="text-light disabled"><i class="fab fa-twitter mx-2"></i></a></li>
      <li><a href="" class="text-light disabled"><i class="fab fa-linkedin-in mx-2"></i></a></li>
    </ul>
  </div>

  <div>
    <p>Work <a href=""><i class="fas fa-angle-double-down text-light ml-1"></i></a></p>
  </div>
</article>

</main>