<main class="home-main position-relative">
  <article class="text-light article-1" id="About">
    <div class="container-fluid">
      <div class="col col-lg-4 mx-auto text-center">
        <h1>Eyüp Sercan UYGUR</h1>
        <h3>Software Developer</h3>
        <p class="content">
          Hi! I am a material scientist and also a software developer.
          Residing in between İstanbul and Kuşadası in Turkey. Loves travelling, music,
          especially Rock music, and poetry. I can help you build a product, feature or website.
        </p>
      </div>
    </div>
  </article>
  <hr>
  <article class="text-light article-2">
    <div class="container-fluid container-lg mx-auto text-center">
      <div class="row text-center mx-auto">
        <div class="col col-lg-4 text-center">
          <h5>Languages</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/4872473806" target="blank" class="text-light disabled">JavaScript</a></li>
            <li><a href="https://www.credential.net/fd59c9a6-a0b0-4f1b-a001-735c9fbadea8#gs.eem28t" target="blank" class="text-light disabled">Ruby</a></li>
            <li><a href="https://openclassrooms.com/en/course-certificates/1201771651" target="blank" class="text-light disabled">HTML</a></li>
            <li><a href="https://openclassrooms.com/en/course-certificates/8063084933" target="blank" class="text-light disabled">CSS, SCSS</a></li>
            <li><a href="#" class="text-light disabled">Matlab</a></li>
          </ul>
        </div>
        <div class="col col-lg-4 text-center">
          <h5>Frameworks</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/2235830313" target="blank" class="text-light disabled">React & Redux & Jquery</a></li>
            <li><a href="#" target="blank" class="text-light disabled">Rails</a></li>
            <li><a href="#" target="blank" class="text-light disabled">RSpec</a></li>
          </ul>
        </div>
        <div class="col col-lg-4 text-center">
          <h5>Skills</h5>
          <ul class="list-unstyled">
            <li><a href="https://openclassrooms.com/en/course-certificates/9155802531" target="blank" class="text-light disabled">Bootstrap</a></li>
            <li><a href="#" class="text-light disabled">Git & GitHub</a></li>
            <li><a href="#" class="text-light disabled">Remote Pair Programming</a></li>
            <li><a href="#" class="text-light disabled">Finite Element Analysis</a></li>
            <li><a href="#" class="text-light disabled">Statistics</a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <hr>
  <article class="d-flex justify-content-around text-light article-3">
    <div>
      <a href="#Projects" class="text-light disabled-2">Projects<i class="fas fa-angle-double-down text-light ml-1 disabled-2"></i></a>
    </div>

    <div>
      <ul class="list-unstyled d-flex">
        <li><a href="https://github.com/eypsrcnuygr" target="_blank" class="text-light disabled-2"><i class="fab fa-github mx-2"></i></a></li>
        <li><a href="https://medium.com/@sercanuygur" target="_blank" class="text-light disabled-2"><i class="fab fa-medium-m mx-2"></i></a></li>
        <li><a href="https://twitter.com/eypsrcnuygr" target="_blank" class="text-light disabled-2"><i class="fab fa-twitter mx-2"></i></a></li>
        <li><a href="https://www.linkedin.com/in/eypsrcnuygr/" target="_blank" class="text-light disabled-2"><i class="fab fa-linkedin-in mx-2"></i></a></li>
      </ul>
    </div>

    <div>
      <a href="#Projects" class="text-light disabled-2">Projects<i class="fas fa-angle-double-down text-light ml-1 disabled-2"></i></a>
    </div>
  </article>
  <div class="mt-5" id="Projects">
    <h2 class="text-center text-light">Recent Projects</h2>
  </div>
  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-12">
          <img src="/assets/images/Screenshot4.png" alt="Easy-Pay" class="w-100">
        </div>
        <div class="col-xl-5 col-12 heading">
          <h5>Easy-Pay</h5>
          <p>
            This is an online fund transfer app. You can make transactions and see the details. You can crete a user and
            create your
            own groups and arrange your transactions. You can sign-in with GitHub or with a Name and Password.
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Ruby</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Rails</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Bootstrap</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">RSpec</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">HTML</p>
          </div>
          <div>
            <a href="https://easy-pay-sercan.herokuapp.com/" target="blank" class="text-light btn btn-success mx-2">Live Link</a>
            <a href="https://github.com/eypsrcnuygr/easy-pay-2" target="blank" class="text-light btn btn-primary mx-2">GitHub Repo</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-12">
          <img src="/assets/images/Screenshot2.png" alt="EYC-Baby" class="w-100">
        </div>
        <div class="col-xl-5 col-12 heading">
          <h5>EYC-Baby</h5>
          <p>
          This is a baby product site, which is in progress. You can create a user and a basket for this user,
          and you can navigate through different products and add to your basket. In the end you can pay whether with credit
          card or you can make an EFT depending on your choice.
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">JavaScript</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">React</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Bootstrap</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">HTML</p>
          </div>
          <div>
            <a href="https://keen-mcnulty-dbc19f.netlify.app/" target="blank" class="text-light btn btn-success mx-2">Live Link</a>
            <a href="https://github.com/eypsrcnuygr/EYC-Baby" target="blank" class="text-light btn btn-primary mx-2">GitHub Repo</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-12">
          <img src="/assets/images/Screenshot3.png" alt="Easy-Pay" class="w-100">
        </div>
        <div class="col-xl-5 col-12 heading">
          <h5>Eventify</h5>
          <p>
            This is an HTML CSS page that is a clone of <a href="https://www.behance.net/gallery/25563385/PatashuleKE" class="text-info">Mathew Njguna's design.</a> 
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">HTML</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS, Scss</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Bootstrap</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Autoprefixer</p>
          </div>
          <div>
            <a href="https://elated-thompson-d36982.netlify.app/" target="blank" class="text-light btn btn-success mx-2">Live Link</a>
            <a href="https://github.com/eypsrcnuygr/HTML-Capstone" target="blank" class="text-light btn btn-primary mx-2">GitHub Repo</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="mt-5" id="Publications">
    <h2 class="text-center text-light">Publications</h2>
  </div>
  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
        
        <div class="col-xl-7 col-12 heading">
          <h5>Teach Yourself How to Work With Bootstrap 4 in Ten Minutes or Less</h5>
          <p>
            “Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.
            It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation,
            and other interface components.” 
            In this tutorial based article, you can learn how to setup Bootstrap 4 and use it with ease.
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Bootstrap</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS, Scss</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Npm</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Flexbox</p>
          </div>
          <div>
            <a href="https://hackernoon.com/teach-yourself-how-to-work-with-bootstrap-4-in-ten-minutes-or-less-ok4o3u09" 
            target="_blank" class="text-light btn btn-success mx-2 mb-4">See The Article</a>
          </div>
        </div>
        <div class="col-xl-5 col-12">
          <img src="/assets/images/Bootstrap.png" alt="Easy-Pay" class="w-100">
        </div>
      </div>
    </div>
  </article>

  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
       
        <div class="col-xl-7 col-12 heading">
          <h5>Everything You Need to Know About Bootstrap 5</h5>
          <p>
            "Bootstrap is a powerful front-end library, that gives you the power of quick design and responsive
             mobile-first site layout. It lays on top of the 12 grid system and it has extensive pre-built components."
             In this article you can see the difference between Bootstrap 4 and 5 and understand the important changes happened.
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Bootstrap</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS, Scss</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Jquery</p>
          </div>
          <div>
            <a href="https://hackernoon.com/everything-you-need-to-know-about-bootstrap-5-yf423tf0" 
            target="_blank" class="text-light btn btn-success mx-2 mb-4">See The Article</a>
          </div>
        </div>
        <div class="col-xl-5 col-12">
          <img src="/assets/images/Bootstrap2.jpeg" alt="Easy-Pay" class="w-100 h-100">
        </div>
      </div>
    </div>
  </article>

  <article class="text-light mb-2 article-3">
    <div class="container">
      <div class="row">
     
        <div class="col-xl-7 col-12 heading">
          <h5>A Simple Guide for CSS Animations</h5>
          <p>
            "Animations are very useful tools to make pages more appealing. I would like to
             start with what are animations, give some supplementary information, and give
              some animation syntax examples."
              In this article you can see some simple examples of Css animations and learn why they are important?
          </p>
          <div class="d-flex mt-5 py-2">
            <p class="mx-2 bg-info rounded labels pt-2 px-2">Css Animations</p>
            <p class="mx-2 bg-info rounded labels pt-2 px-2">CSS, Scss</p>
          </div>
          <div>
            <a href="https://hackernoon.com/a-simple-guide-for-css-animations-6a363uby" 
            target="_blank" class="text-light btn btn-success mx-2 mb-4">See The Article</a>
          </div>
        </div>
        <div class="col-xl-5 col-12">
          <img src="/assets/images/Animations.jpeg" alt="Easy-Pay" class="w-100">
        </div>
      </div>
    </div>
  </article>

  <%= render '/layouts/form' %>
</main>