// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap/dist/css/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,500&family=Roboto:wght@500&display=swap');

.home-main {

  font-family: $fa-font-path;
  background: radial-gradient(circle, rgba(94,94,94,1) 8%, rgba(49,48,85,1) 92%, rgba(48,48,50,1) 100%);
  & hr {
    border-color: red;
    width: 50%;
    min-width: 40%;
  }

  & .image {
    width: 15%;
    height: auto;
  }

  & .disabled {
    &:hover, :focus {
      text-decoration: none !important;
      color: white !important;
    }
  }

  & .disabled-2 {
    &:hover, :focus {
      text-decoration: none !important;
      color: rgb(199, 189, 189) !important;
    }
  }

  & .article-1 {
    padding-top: 7%;

    & p {
      padding-top: 10%;
    }
  }

  & .article-x {
    padding-top: 3%;
  }

  & .article-3 {
    padding-top: 10%;
    padding-bottom: 2%;

    & .labels {
      height: 40px;
    }
  }

  & .form-div {
    max-width: 70%;
  }

  & .rights-info {
    font-size: 0.8rem !important;
  }

  .guitar {
    width: 40px;
  }
}

@media only screen and (max-device-width: 767px) {
  body {

    & .article-1 {
      position: relative;
      padding-top: 42% !important;

      & h1 {
        font-size: 4rem;
      }
      
      & .image {
        width: 30%;
        height: auto;
      }
    }

    & h3, p, a, h5, h2 {
      font-size: 2.4rem !important;
    }

    & .article-x {
      padding-top: 15% !important;
    }

    & .button-live, .button-github{
      width: 300px;
      font-size: 2.8rem;
    }

    .button-article {
      width: 350px;
      font-size: 2.8rem;
    }
    & .seperator {
      margin-top: 18%;
    }
   
    & .heading {
      margin-top: 15px;
    }

    .labels {
      height: 80px !important;
    }

    & form {
      .name, .message {
        font-size: 2.2rem !important;
      }

      .button-send {
        width: 300px;
        font-size: 2.4rem;
      }
    }
  }
}

@media only screen and (max-width: 989px) and (min-width: 768px) {
  body {

    & .article-1 {
      position: relative;
      padding-top: 30% !important;

      & h1 {
        font-size: 3rem;
      }
      
      & .image {
        width: 30%;
        height: auto;
      }
    }

    & h3, p, a, h5, h2 {
      font-size: 1.5rem;
    }

    & .article-x {
      padding-top: 10% !important;
    }

    & .button-live, .button-github{
      width: 300px;
      font-size: 2rem;
    }

    .button-article {
      width: 350px;
      font-size: 2rem;
    }
    & .seperator {
      margin-top: 18%;
    }
   
    & .heading {
      margin-top: 15px;
    }

    .labels {
      height: 60px !important;
    }

    & form {
      .name, .message {
        font-size: 1.5rem;
      }

      .button-send {
        width: 300px;
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1399px) and (min-width: 990px) {
  body {

    & .article-1 {
      position: relative;
      padding-top: 15% !important;

      & h1 {
        font-size: 3rem;
      }
      
      & .image {
        width: 30%;
        height: auto;
      }
    }

    & h3, p, a, h5, h2 {
      font-size: 1.1rem;
    }

    & .article-x {
      padding-top: 10% !important;
    }

    & .button-live, .button-github{
      width: 300px;
      font-size: 1.3rem;
    }

    .button-article {
      width: 350px;
      font-size: 1.3rem;
    }
    & .seperator {
      margin-top: 18%;
    }
   
    & .heading {
      margin-top: 15px;
    }

    .labels {
      height: 40px !important;
    }

    & form {
      .name, .message {
        font-size: 1rem;
      }

      .button-send {
        width: 300px;
        font-size: 1.3rem;
      }
    }
  }
}

.flash-modified {
  position: absolute;
  top: 72px;
  z-index: 2;
}