<nav class="d-flex justify-content-around align-items-center">
  <div>
    <a href="#" class="disabled">Eyüp Sercan UYGUR</a>
  </div>
  <div>
    <a href="#" class="ml-4">Portfolio</a>
    <a href="#" class="ml-4">About</a>
    <a href="#" class="ml-4">Contact <i class="far fa-envelope"></i></a>
  </div>
</nav>