<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand disabled" href="/">Eyüp Sercan UYGUR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation" id="navbar-button">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" target="blank" href="https://github.com/eypsrcnuygr">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="blank" href="https://medium.com/@sercanuygur">Publications</a>
      </li>
      <li class="nav-item">
        <a href="/assets/docs/CV.pdf" class="nav-link" > View CV Online</a>
      </li>
      <li>
        <a href="/assets/docs/CV.pdf" class="nav-link"  download="Eyüp Sercan UYGUR" id="download"> Download CV</a> 
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
</nav>