<nav class="d-flex justify-content-around align-items-center">
  <div>
    <a href="/" class="disabled">Eyüp Sercan UYGUR</a>
  </div>
  <div>
    <a href="#Projects" class="ml-4">Projects</a>
    <a href="#About" class="ml-4">About</a>
    <a href="#Publications" class="ml-4">Publications</a>
    <%= link_to "CV", download_pdf_path, data: { confirm: 'Do you want to download the CV?'}, class: 'ml-4' %>
    <a href="#" class="ml-4">Contact <i class="far fa-envelope ml-1"></i></a>
  </div>
</nav>